@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
	margin-top: 40px;
	font-family: 'Dancing Script', cursive;	
	font-weight:700; 
	background: linear-gradient(to  bottom , #bc7f43, #eee6d8);
	background-attachment: fixed;
}
.admin{
	padding-top: 60px;
	padding-bottom: 9rem;
}

.main_indes{
	margin-bottom: 1rem;
}

header{
	margin-top: -40px;
}


h1{
	text-transform: uppercase;
}

.pb{
	padding-bottom: 10em;
	height: 100vh;
}

.height_time{
	padding-top: 40px;
	max-height: 60vh !important;
	min-height: 0vh !important;
}
.height{
	min-height: 124rem;
}


.form_reserv{
	padding-bottom: 8rem;
}

footer{
	width: 100%;
}

@media (min-width: 576px){
	.admin{
		padding-bottom: 9rem;
	}
	
}



.carte {
  transition: all 0.2s ease-in-out;
}

.carte:hover {
  transform: scale(1.1);
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 0%;
	border-radius: 5px;
}

.menu {
  transition: all 0.3s ease-in-out;
}

.carte:hover .menu {
  display: block;
}

.photo-container {
  overflow: hidden;
}

