@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
	margin-top: 40px;
	font-family: 'Dancing Script', cursive;	
	font-weight:700; 
	background: linear-gradient(to  bottom , #bc7f43, #eee6d8);
	background-attachment: fixed;
	min-height: 100vh;
}
.admin{
	padding-top: 40px;
}

header{
	margin-top: -40px;
}

h1{
	text-transform: uppercase;
}

.height_img{
	height: 150vh;
}

.height_time{
	margin-top: 40px;
	max-height: 60vh;
}