
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

  html{
	height: 100vw;

  }

body {
	font-family: 'Dancing Script', cursive;	
	font-weight:700; 
	background-image: url('../img/background.jpg');
	background-position: center center;
	background-size: contain;
}

h1{
	text-transform: uppercase;
	margin-top: 10%;
}

p, h1, h2 {
	display: inline-block;
}

h1, h2 {
	background-color: rgba(255,230,204,0.3);
}